* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;


    /* VARIABLER */
    /* farver */
    --beige: #B2A250;
    --light: #F1E5AA;
    --lightPurple: #caa1ff;
    --darkBlue: #211240;
    --darkGreen: #39310D;

}

body {
    margin: 0;
    background-color: var(--light);
}

/* header */
header {
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        opacity: 0.5;
    }



    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        list-style: none;
        align-items: flex-end;
        background-color: var(--beige);
        height: 55px;
        margin-top: -4px;


        li {
            font-size: 1.2rem;
            font-weight: lighter;
            padding: 1rem;

            a {
                text-decoration: none;
                color: var(--light);
                text-shadow: 2px 2px 4px var(--darkBlue);
            }

        }

        .logo {
            background-color: var(--beige);
            width: 200px;
            height: 200px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: -60px;
            z-index: 1;


            svg {
                width: 150px;
                height: 150px;
                fill: var(--darkGreen);
            }

        }


    }

    li:hover {
        background-color: var(--light);
        padding: 1rem;

        a {
            color: var(--darkGreen);
            text-shadow: none;
        }
    }
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 5rem 8rem 5rem 8rem;

    button {
        width: 150px;
        height: 50px;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.1rem;
        font-weight: light;
    }

    .filtrer {
        background-color: var(--beige);
        color: var(--darkGreen);
        border: none;
    }

    .sorter {
        background-color: var(--darkGreen);
        color: var(--light);
        border: none;
    }

    .searchbar {
        input {
            padding: 0.5rem;
            width: 800px;
            height: 50px;
            border-radius: 100px;
            border-color: var(--beige);
            font-size: 1.1rem;
            font-weight: light;
            background-color: var(--lightPurple);

        }

        i {
            color: var(--darkGreen);
            font-size: 30px;
        }
    }

}

input::placeholder {
    color: var(--darkGreen);
}


/* cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    padding: 0 10rem 0 10rem;
    justify-content: center;
}

.card {
    width: 350px;
    height: 550px;
    border-radius: 10px;
    overflow: hidden;

    a {
        text-decoration: none;
    }

    .text {
        height: 100%;
        padding: 1rem;
        background-color: var(--darkGreen);
        color: var(--light);

        h2,
        p {
            font-weight: lighter;
        }


        .info {
            display: flex;
            justify-content: space-evenly;
        }
    }


    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

.card:hover {
    box-shadow: var(--darkGreen) 0px 4px 8px, var(--darkGreen) 0px 6px 20px;
}


footer {
    background-color: var(--beige);
    height: 100px;
    margin-top: 5rem;

    p {
        text-align: center;
        padding-top: 2rem;
        color: var(--darkGreen);
    }

}


/* OPSKRIFT */
.opskriftIntro {
    padding: 5rem 8rem 5rem 8rem;
    display: flex;
    gap: 5rem;

    .opskriftTitel {
        font-size: 5rem;
        font-weight: lighter;
        margin: 0;
    }


    .stars {
        display: flex;
        align-items: center;
        gap: 1rem;

        i {
            font-size: 2rem;
        }

        p {
            font-size: 2rem;
        }

    }

    img {
        width: 600px;
        height: 400px;
        object-fit: cover;
    }

    .kategorier {
        display: flex;
        gap: 1rem;
        padding-top: 8rem;

        .kategori {
            display: flex;
            justify-content: center;
            background-color: var(--lightPurple);
            color: var(--darkGreen);
            padding: 0.5rem;
            border-radius: 15px;
            width: 150px;
            height: 30px;
            box-shadow: #211240 0px 1px 3px, #211240 0px 1px 2px;
        }
    }
}

.description {
    padding: 0 20rem 2rem 20rem;
    color: var(--darkGreen);
}

hr {
    border-top: 5px solid var(--beige);
    margin: 2rem 20rem;

}

.antal {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.fremgangsmaade {
    display: flex;
    padding: 1rem 8rem 5rem 8rem;
    gap: 5rem;

    .ingredienser {
        background-color: var(--beige);
        color: var(--darkGreen);
        padding: 1rem 2rem;
        width: 500px;

        li {
            list-style: none;
            margin-bottom: 1.5rem;
        }
    }

    .fremgang {
        color: var(--darkGreen);
        padding: 2rem;

        li {
            margin-bottom: 1.5rem;
        }
    }
}